.cursor-pointer {
  cursor: pointer;
}

.hotels-data-table .v-data-table-footer__info {
  display: none !important;
}

.lp-3 {
  text-indent: 4px;
}

.v-list-group__items .v-list-item {
  padding-inline-start: 4px;
}

.ql-container {
  min-height: 300px;
}

.v-overlay__scrim {
  opacity: 0.9 !important;
  background: none;
}

.v-data-table-footer__items-per-page > .v-select {
  width: 120px;
}
body {
  font-family: 'Poppins';
}
.ck-content ul {
  list-style: initial !important;
  list-style-type: disc !important;
  padding-left: 20px !important;
}
.ck-content ol {
  list-style: initial !important;
  list-style-type: decimal !important;
  padding-left: 20px !important;
}
