.cursor-pointer {
  cursor: pointer;
}

.hotels-data-table .v-data-table-footer__info {
  display: none !important;

}

.lp-3{
 text-indent: 4px;
}
.v-list-group__items .v-list-item{
  padding-inline-start: 4px;
}